
@{
    ViewData["Title"] = "arquitectura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Arquitectura</h1>

<style>
    .libro-container {
        display: flex;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 10px;
    }

    .libro-imagen {
        flex: 0 0 200px; 
        margin-right: 20px;
    }

    .libro-descripcion {
        flex: 1; 
    }

    .libro-descripcion h2 {
        margin-top: 0;
    }
</style>

<div class="container">
    <div class="libro-container">
        <div class="libro-imagen">
            <img src="~/images/arquitectura.jpg" class="img-fluid" alt="Imagen del Libro" />
        </div>
        <div class="libro-descripcion">
            <p>Master the Crucial Non -Technical Skills Every Software Architect Needs!   Thousands of software professionals have the necessary technical qualifications to become architects, but far fewer have the crucial non-technical skills needed to get hired and succeed in this role. In today’s agile environments, these “soft” skills have grown even more crucial to success as an architect. For many developers, however, these skills don’t come naturally–and they’re rarely addressed in formal training. Now, long-time software architect Dave Hendricksen helps you fill this gap, supercharge your organizational impact, and quickly move to the next level in your career.   In 12 Essential Skills for Software Architects, Hendricksen begins by pinpointing the specific relationship, personal, and business skills that successful architects rely upon. Next, he presents proven methods for systematically developing and sharpening every one of these skills, from negotiation and leadership to pragmatism and vision.   From start to finish, this book’s practical insights can help you get the architect position you want–and thrive once you have it!   The soft skills you need… …and a coherent framework and practical methodology for mastering them!   Relationship skills Leadership, politics, gracious behavior, communication, negotiation   Personal skills Context switching, transparency, passion   Business skills Pragmatism, vision, business knowledge, innovation</p>
        </div>
    </div>

    <div class="libro-container">
        <div class="libro-imagen">
            <img src="~/images/arquitectura2.jpg" class="img-fluid" alt="Imagen del Libro" />
        </div>
        <div class="libro-descripcion">
            <p>Software systems are constructed to satisfy organizations' business goals. The architecture is a bridge between those (often abstract) business goals and the final (concrete) resulting system. While the path from abstract goals to concrete systems can be complex, the good news is that software architectures can be designed, analyzed, documented, and implemented using known techniques that will support the achievement of these business and mission goals. The complexity can be tamed, made tractable. These, then, are the topics for this book: the design, analysis, documentation, and implementation of architectures. We will also examine the influences, principally in the form of business goals and quality attributes, which inform these activities. In this chapter we will focus on architecture strictly from a software engineering point of view. That is, we will explore the value that a software architecture brings to a development project. (Later chapters will take a business and organizational perspective.)</p>
        </div>
    </div>
</div>